services:
  db:
    image: alchemmist/socnet-db:latest
    container_name: socnet-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: qwerty
      LOAD_SAMPLE_DATA: "true"
      REGENERATE_SAMPLE_DATA: "false"
    volumes:
      - socnet-data:/var/lib/postgresql/data

volumes:
  socnet-data:

